@use "../../../styles/theme" as *;

.button {
  height: $size;
  margin-bottom: 26px;
  padding: 0;
  background-color: $CVL_Green_Lite;
  border: none;
  border-radius: 5px;
  color: $White;
  line-height: $size;
  cursor: pointer;

  &__image {
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin-left: 13px;
  }
}
