* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: transparent linear-gradient(180deg, #005da4 0%, #003777 100%) 0%
    0% no-repeat padding-box;
  min-height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
  max-height: 100dvh;
}

.main-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
