.filters-wrapper {
  border-top: 1px solid #4488d5;
  width: 100%;
  background: #003777 0% 0% no-repeat padding-box;
}

.filters-inner {
  max-width: 500px;
  margin: 0 auto;
}

.filters__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -47px;
  margin-bottom: 26px;
}

.filters-button {
  text-align: left;
  font: normal normal normal 16px/22px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 12px 8px 12px 24px;
  cursor: pointer;
  background: #003777 0% 0% no-repeat padding-box;
  border: 1px solid #4488d5;
  border-bottom: none;
  border-radius: 0px 3px 0px 0px;
  transition: 0.3s all ease-in-out;
}

.filters-button:hover {
  background: #005da4 0% 0% no-repeat padding-box;
}

.filters-button.active {
  background: #4488d5 0% 0% no-repeat padding-box;
  border: 1px solid #4488d5;
  border-bottom: none;
}

.filters__options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding-bottom: 24px;

  @media (max-width: 768px) {
    padding: 0 20px 24px;
  }

  @media (max-width: 380px) {
    gap: 4px;
  }

  & a {
    text-align: left;
    font: normal normal normal 16px/26px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    text-decoration: none;

    @media (max-width: 380px) {
      font: normal normal normal 14px/18px Open Sans;
    }
  }
}
