.list {
  list-style: none;
  height: 180px;
  column-width: 250px;
  column-gap: 0;
  margin: 0;
  padding: 0;

  @media (max-width: 600px) {
    column-width: 230px;
    padding: 0 20px;
  }

  &__item {
    line-height: 26px;
  }
}
