.selectInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
}

.selectInputContainer {
  position: relative;
}

.selectInputContainer::after {
  content: "";
  position: absolute;
  top: 65%;
  right: 10px;
  pointer-events: none;

  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5.5px solid var(--black);
}
