@import './variables';

body {
  background: var(--background);
  font-family: var(--font-open-sans), sans-serif;
  font-weight: $font-weight-400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  font-size: $primary-font-size;
}