@use '../../styles/variables' as *;
.form {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: left;
  padding: 2rem;

  label {
    color: $primary-color;
    font-size: $primary-font-size;
    display: block;
    margin-bottom: 0.5rem;
  }

  input,
  select {
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    font-size: $primary-font-size;
    color: #333;
  }

  input::placeholder {
    color: #333;
    opacity: 1;
  }

  .keyword {
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    .location{
      width: 70%;
    }
    .distance {
      width: 28%;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem; 
    padding: 1.2rem;
    color: $primary-color;
    font-size: $primary-font-size;
    border: none;
    cursor: pointer;
    background: #5bb543;
    border-radius: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    align-self: flex-end;

    .icon {
      margin-left: 1rem;
    }
  }

  @media (min-width: 768px) {
    gap: 3rem;

    .row {

      .location {
        width: 30rem;
      }

      .distance {
        width: 18rem;
      }
    }

  }
}
