.formSectionFilter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

@media (min-width: 355px) {
  .formSectionFilter {
    flex-wrap: nowrap;
  }
}

.formSectionBottom {
  display: flex;
  justify-content: flex-end;
}

.inputFieldDistance {
  min-width: 38%;
}

@media (min-width: 500px) {
  .inputFieldDistance {
    min-width: 180px;
  }
}

.buttonSearch {
  all: initial;
  display: flex;
  font-family: inherit;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 180px;
  box-sizing: border-box;

  font-weight: 600;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;

  background-color: var(--CVL-green-lite);
  padding: 12px 24px;
  border-radius: 5px;
}
