@use './styles/variables' as *;

.page {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  font-family: $font-open-sans;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo{
  margin-bottom: 3.6rem;
  margin-top: 4rem;

}

